@{
}
@model Web_153502_Logvinovich.Domain.Models.ListModel<Book>


<h1>Книги дня</h1>
        
<!-- выбор категории -->
<div class="col-2 border-2">
    <ul class="nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"                      
                role="button"
                aria-expanded="false">
                @ViewData["currentAuthor"]
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item"
                        asp-controller="book"
                        asp-route-author="all">Все</a>
                </li>
                @foreach (var item in ViewBag.authors)
                {
                    <li>
                        <a class="dropdown-item"
                        asp-controller="book"
                        asp-route-author="@item.NormalizedName">
                            @item.Name
                        </a>
                    </li>
                }
            </ul>
        </li>
    </ul>
</div><!-- выбор категории -->

<div id="partialData">
    <partial name="_BookPartial"/>
</div>