@{

}

@if (!User.Identity.IsAuthenticated)
{
    <div class="navbar-nav ms-auto">
        <a asp-controller="Identity" asp-action="Login" class="nav-item nav-link">Логин</a>
    </div>
}
else {
    
    var login = User.Claims.FirstOrDefault(c => c.Type.Equals("Name", StringComparison.OrdinalIgnoreCase))?.Value ?? "default@gmail.com";
    
    @await Component.InvokeAsync("Cart")
    <div class="dropdown ms-4 nav-color">
    <button class="btn btn-secondary dropdown-toggle"
            type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            @login
            <img src="https://localhost:7003/avatar" width="30" height="30" alt="User" class="rounded nav-color" />
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li>
            <span class="dropdown-item-text">
                    <img src="https://localhost:7003/avatar" width="50" height="50" alt="User" class="rounded" />
                @login
            </span>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>

            <form id="logoutForm" asp-controller="Identity" asp-action="Logout" class="form-inline" method="post">
                <button id="logout" type="submit" class="text-dark nav-link btn btn-link" style="background:none; border: none">
                    Выйти
                </button>
            </form>
        </li>
    </ul>
</div>
}
